In [103]:
import pandas as pd
import time

In [118]:
df1 = pd.read_csv("C:/Users/adity/Downloads/Votes.csv",sep = ',', header = 0);

In [119]:
df1

          Id  PostId  VoteTypeId         CreationDate   UserId  BountyAmount
0          1       1           2  2013-05-08 00:00:00      NaN           NaN
1          2       1           2  2013-05-08 00:00:00      NaN           NaN
2          3       1           2  2013-05-08 00:00:00      NaN           NaN
3          4       2           2  2013-05-08 00:00:00      NaN           NaN
4          5       4           2  2013-05-08 00:00:00      NaN           NaN
5          6       2           3  2013-05-08 00:00:00      NaN           NaN
6          7       3           2  2013-05-08 00:00:00      NaN           NaN
7          8       3           2  2013-05-08 00:00:00      NaN           NaN
8          9       5           2  2013-05-08 00:00:00      NaN           NaN
9         10       2           2  2013-05-08 00:00:00      NaN           NaN
10        11       1           2  2013-05-08 00:00:00      NaN           NaN
11        13       8           2  2013-05-08 00:00:00      NaN           NaN
12        14       8           2  2013-05-08 00:00:00      NaN           NaN
13        15       5           2  2013-05-08 00:00:00      NaN           NaN
14        17       2           2  2013-05-08 00:00:00      NaN           NaN
15        18       1           2  2013-05-08 00:00:00      NaN           NaN
16        19       1           2  2013-05-08 00:00:00      NaN           NaN
17        21      16           2  2013-05-08 00:00:00      NaN           NaN
18        22      16           2  2013-05-08 00:00:00      NaN           NaN
19        23      15           2  2013-05-08 00:00:00      NaN           NaN
20        24      19           2  2013-05-08 00:00:00      NaN           NaN
21        25       6           2  2013-05-08 00:00:00      NaN           NaN
22        26      18           2  2013-05-08 00:00:00      NaN           NaN
23        27       5           2  2013-05-08 00:00:00      NaN           NaN
24        29      20           2  2013-05-08 00:00:00      NaN           NaN
25        31      24           2  2013-05-08 00:00:00      NaN           NaN
26        32      24           2  2013-05-08 00:00:00      NaN           NaN
27        33       4           2  2013-05-08 00:00:00      NaN           NaN
28        34      10           2  2013-05-08 00:00:00      NaN           NaN
29        35       3           2  2013-05-08 00:00:00      NaN           NaN
...      ...     ...         ...                  ...      ...           ...
35054  47563   11314           2  2017-08-25 00:00:00      NaN           NaN
35055  47564   11679           3  2017-08-25 00:00:00      NaN           NaN
35056  47565    6738           2  2017-08-25 00:00:00      NaN           NaN
35057  47566    6738           5  2017-08-25 00:00:00   1652.0           NaN
35058  47567   11240           2  2017-08-25 00:00:00      NaN           NaN
35059  47568   11673           2  2017-08-26 00:00:00      NaN           NaN
35060  47569   11680           1  2017-08-26 00:00:00      NaN           NaN
35061  47570   11679           2  2017-08-26 00:00:00      NaN           NaN
35062  47571   11677           2  2017-08-26 00:00:00      NaN           NaN
35063  47572    9426           2  2017-08-26 00:00:00      NaN           NaN
35064  47573   11667           2  2017-08-26 00:00:00      NaN           NaN
35065  47574   11643           2  2017-08-26 00:00:00      NaN           NaN
35066  47575   11598           2  2017-08-26 00:00:00      NaN           NaN
35067  47576   11679           3  2017-08-26 00:00:00      NaN           NaN
35068  47577   11679           3  2017-08-26 00:00:00      NaN           NaN
35069  47578   11440           2  2017-08-26 00:00:00      NaN           NaN
35070  47579    4547           2  2017-08-26 00:00:00      NaN           NaN
35071  47580    4547           5  2017-08-26 00:00:00  17030.0           NaN
35072  47581    9059           2  2017-08-26 00:00:00      NaN           NaN
35073  47582   11682           3  2017-08-26 00:00:00      NaN           NaN
35074  47583    7916           2  2017-08-26 00:00:00      NaN           NaN
35075  47584   11103           2  2017-08-26 00:00:00      NaN           NaN
35076  47585   11682           3  2017-08-26 00:00:00      NaN           NaN
35077  47586   11576           2  2017-08-26 00:00:00      NaN           NaN
35078  47587   11576           1  2017-08-26 00:00:00      NaN           NaN
35079  47588    9659           2  2017-08-26 00:00:00      NaN           NaN
35080  47592   11680           2  2017-08-26 00:00:00      NaN           NaN
35081  47593   11670           2  2017-08-26 00:00:00      NaN           NaN
35082  47595   11684           1  2017-08-26 00:00:00      NaN           NaN
35083  47596   11684           2  2017-08-26 00:00:00      NaN           NaN

[35084 rows x 6 columns]

In [120]:
f=open('C:/Users/adity/Documents/Date.txt','w')
for index,row in df1.iterrows():
    date = (time.mktime(time.strptime(row[3], '%Y-%m-%d %H:%M:%S')))
    f.write(str(date)+"\n")
f.close()

In [136]:
date = (time.mktime(time.strptime("2014-01-01 19:06:18", '%Y-%m-%d %H:%M:%S')))
date

1388563578.0

In [73]:
df1

,Id,AcceptedAnswerId,CreationDate,ViewCount,OwnerUserId,Title,Tags,OwnerDisplayName
0,1,2,2013-05-08 18:59:12,1798,7.0,Is there a list of all US Government agencies ...,data-request;usa;government;api-request,NaN
1,3,NaN,2013-05-08 19:14:57,93,26.0,Is there a list of all municipal government fo...,usa;government,NaN
2,6,NaN,2013-05-08 19:18:47,398,44.0,Is there a list of all utilities that offer th...,usa;energy,NaN
3,7,NaN,2013-05-08 19:19:11,6093,41.0,U.S. City and County Web Data (API),data-request;usa;api-request;city;county,NaN
4,9,NaN,2013-05-08 19:20:16,120,48.0,Does any City have POIA (Public Online Informa...,usa;city;legal;sunlight-foundation,NaN
5,11,,2013-05-08 19:23:54,1844,41.0,De-identified patient data,data-request;healthcare;medical,NaN
6,15,30,2013-05-08 19:28:41,195,74.0,Is the data used to calculate national CPI pub...,usa;government;economics;cpi;data-request,NaN
7,16,19,2013-05-08 19:30:11,1486,46.0,Is there a complete list of all US tax-exempt ...,data-request;usa;nonprofit,NaN
8,17,NaN,2013-05-08 19:31:05,77,65.0,"Given a federal agency, what can I expect to f...",usa;fcc;government;rulemaking,NaN
9,23,NaN,2013-05-08 19:38:36,285,5.0,How can I get a list of all non-geodata datase...,usa;data.gov,NaN
10,24,33,2013-05-08 19:39:59,544,32.0,How can I trust the authenticity of an open da...,authenticity;trust;data-request,NaN
11,26,NaN,2013-05-08 19:42:51,1178,87.0,Benefits of using CC0 over CC-BY for data,releasing-data;licensing;creative-commons,NaN
12,29,34,2013-05-08 19:48:08,803,37.0,What's an easy-to-use tool to manage datasets?,tool-request;analysis,NaN
13,40,71,2013-05-08 20:30:39,183,130.0,Is there an official/complete list of all US g...,data-request;usa;government;data.gov;api,NaN
14,41,77,2013-05-08 20:38:40,1035,139.0,Is there a free downloadable administrative di...,data-request;address;postal-code;germany,NaN
15,42,NaN,2013-05-08 20:41:08,764,46.0,Should I approach an agency unofficially befor...,usa;foia;social-process,NaN
16,43,76,2013-05-08 20:41:10,821,139.0,Database with English words with grammatical c...,english;language,NaN
17,46,NaN,2013-05-08 20:44:40,4683,139.0,Multinational list of popular first names and ...,data-request;names,NaN
18,48,NaN,2013-05-08 20:48:43,170,139.0,Database with the historical prices of most po...,data-request;usa;products;historical;prices,NaN
19,52,62,2013-05-08 20:58:30,1410,147.0,What server and technologies can I use to extr...,tool-request;medical;wikipedia;extracting;sparql,NaN
20,78,NaN,2013-05-08 22:54:02,383,46.0,Open Data Scorecards?,government;standards,NaN
21,84,124,2013-05-08 23:50:52,135,169.0,Where can I get digital cartographic maps of B...,brazil;maps;data-request,NaN
22,85,NaN,2013-05-09 00:07:36,138,169.0,GPU hardware specifications data?,data-request;computing,NaN
23,92,318,2013-05-09 00:47:49,22688,133.0,Good tools to parse repetitive unstructured data,tool-request;parsing;unstructured-data;program...,NaN
24,93,114,2013-05-09 00:51:52,3161,169.0,Graph visualization/analysis tool?,tool-request;analysis;visualization,NaN
25,95,99,2013-05-09 01:08:39,3538,178.0,What is the most comprehensive resource for qu...,data-request;api-request;books;barcodes,NaN
26,103,NaN,2013-05-09 01:57:03,4610,183.0,Where can I find open data on historical forex...,data-request;finance,NaN
27,106,197,2013-05-09 02:48:14,317,190.0,Data download for Chinese meteorological satel...,data-request;weather;china,NaN
28,107,NaN,2013-05-09 03:05:16,5019,70.0,How can I download the complete Wikidata datab...,data-request;wikidata;json;rdf,NaN
29,111,123,2013-05-09 03:43:01,161,169.0,Is there any world-wide real time catastrophe ...,tool-request;real-time;disaster,NaN
...,...,...,...,...,...,...,...,...
3703,11625,NaN,2017-08-11 07:13:58,14,16901.0,Which database can I use for year on year prod...,data-request;medical;companies;india;database,NaN
3704,11626,NaN,2017-08-11 17:30:32,23,16904.0,Business Name to NAICS Code Mapping,government;uses-of-open-data;business;geocoding,NaN
3705,11627,NaN,2017-08-11 23:40:35,20,16331.0,Data about worldwide import tax rates,finance;global;taxes;trade,NaN
3706,11628,NaN,2017-08-12 01:12:12,11,16906.0,Looking for open sourced data for commonly gro...,data-request,NaN
3707,11629,NaN,2017-08-12 16:36:07,45,16910.0,Data sets for small human written programs,data-request;software,NaN
3708,11631,NaN,2017-08-13 20:15:04,7,16918.0,"Adriatic Sea, Vlora Bay bathymetry",oceanographic,NaN
3709,11632,NaN,2017-08-14 11:07:46,4,15788.0,UK Intermediary Gas Lines,geospatial;network-structure;shapefiles,NaN
3710,11633,NaN,2017-08-14 14:41:02,25,16925.0,Survival rate vs fall height,data-request;medical,NaN
3711,11637,NaN,2017-08-15 17:36:18,8,10652.0,religious tax exempt addresses in detroit/Mich...,geospatial;taxes,NaN
3712,11639,NaN,2017-08-15 18:34:29,27,16935.0,Which region has the most granular census data?,data-request;geospatial;census,NaN
3713,11642,NaN,2017-08-17 04:46:01,26,16351.0,How to open GRIB data in GIS software?,geospatial,NaN
3714,11646,11650,2017-08-18 22:25:25,58,6386.0,Twitter handles for artists/bands/movie stars etc,data-request;social-media,NaN
3715,11647,NaN,2017-08-19 01:14:34,10,16962.0,"How can I get the PI Label ""Highlights"" (or pa...",api;openfda,NaN
3716,11649,NaN,2017-08-19 23:37:40,64,16967.0,Worldwide database of locations (cities)?,api;city;geocoding;database,NaN
3717,11652,NaN,2017-08-21 00:33:05,16,15564.0,A database about transactions?,data-request,NaN
3718,11657,NaN,2017-08-21 14:08:35,9,16979.0,Place to find a dataset regarding heart rate b...,data-request;medical,NaN
3719,11658,NaN,2017-08-21 18:51:24,17,16982.0,US agencies forms data set,government;uses-of-open-data,NaN
3720,11660,NaN,2017-08-22 08:28:42,44,16986.0,"UK Postcode Data by City, Town, Villiage",uk;postal-code,NaN
3721,11663,NaN,2017-08-22 22:06:07,8,16949.0,Availability of data from 3 specific FDA web p...,api;openfda,NaN
3722,11664,11668,2017-08-23 19:12:22,31,17003.0,Registered voters by county,usa;elections,NaN
3723,11666,NaN,2017-08-24 14:47:36,31,17017.0,Google Map based on emergency location informa...,geospatial;europe;real-time;disaster,Patrick
3724,11669,NaN,2017-08-24 19:54:53,9,17012.0,Connect volunteers with public schools,data.gov,NaN
3725,11670,NaN,2017-08-24 13:07:34,31,17019.0,Wikidata - How to get a table with all US citi...,usa;wikidata;county;sparql;rest,DavidK
3726,11671,11673,2017-08-25 10:15:23,29,13467.0,"Sort results by proximity with the ""around"" se...",geospatial;wikidata;sparql,NaN
3727,11675,11676,2017-08-25 13:49:52,16,13467.0,Most efficient way to get the Wikidata entity ...,geospatial;wikidata;sparql,NaN
3728,11677,NaN,2017-08-25 14:48:51,8,17020.0,Bioacoustic Data,data-request;biology,NaN
3729,11678,NaN,2017-08-25 20:18:32,3,17022.0,Is there a historic drug shortage database?,data-request;releasing-data;historical;drugs,NaN
3730,11679,NaN,2017-08-25 21:12:50,11,17024.0,Where is it our notice,labor,NaN
3731,11681,NaN,2017-08-26 09:16:39,12,17028.0,KYRGYZ REPUBLIC DEMOGRAPHIC AND HEALTH SURVEY,usaidopen,NaN
3732,11683,NaN,2017-08-26 17:43:32,6,17033.0,Inflexible Search params with open.fda.gov,openfda,NaN